<div class="post hentry category-general post_box top" id="post-1">
  <div class="headline_area">
    <h1 class="entry-title"><%= title %></h1>
    <p class="headline_meta"><abbr class="published" title="<%= date %>"><%= date %></abbr></p>
  </div>

  <div class="format_text entry-content">
    <%= body %>
  </div>
</div>
