<h1>Code Samples</h1>

<p>Code samples and other examples are also available at <a href="https://github.com/socrata">https://github.com/socrata</a>. In particular, code samples are available for the following languages:</p>

<ul>
  <li><em>Ruby:</em> <a href="https://github.com/socrata/socrata-ruby">https://github.com/socrata/socrata-ruby</a></li>
  <li><em>Python:</em> <a href="https://github.com/socrata/socrata-python">https://github.com/socrata/socrata-python</a></li>
  <li><em>Javascript:</em> <a href="https://github.com/socrata/socrata-js-mashup">https://github.com/socrata/socrata-js-mashup</a></li>
  <li><em>Java:</em> <a href="https://github.com/socrata/socrata-java">https://github.com/socrata/socrata-java</a></li>
  <li><em>C# .NET:</em> <a href="https://github.com/socrata/socrata-csharp">https://github.com/socrata/socrata-csharp</a></li>
</ul>

<p>In addition, we have a sample application posted to show you how to use the OAuth2 Rubygem to authenticate with the API:</p>

<ul><li><a href="https://github.com/socrata/oauth_sample_app_ruby">https://github.com/socrata/oauth_sample_app_ruby</a></li></ul>

Feel free to fork our projects on <a href="https://github.com/socrata">Github</a> and submit pull requests if you make bug fixes or improvements. You can also participate in discussions in our <a href="http://getsatisfaction.com/socrata/products/socrata_socrata_open_data_api">Developer Forums</a> on <a href="http://getsatisfaction.com/socrata">Get Satisfaction</a>.