<div class="home_graphic">&nbsp;</div>
<ul class="options">
  <li><a href="/consumers/getting-started/" class="documentation"><span>Getting Started</span></a></li>
  <li><a href="/console/" class="testdrive"><span>Test Drive The API</span></a></li>
  <li><a href="/register/" class="register"><span>Register Your App</span></a></li>
  <li><a href="/gallery/" class="gallery"><span>App Gallery</span></a></li>
</ul>
