<h1>Getting Started with the Socrata Open Data Publisher API</h1>

<h2>About the Publisher API</h2>

<p>The Socrata Open Data API's Publisher API is strictly a superset of the features provided in the Consumer API &mdash; in fact, they are one and the same. For details on how to <em>access</em> information, please refer to the <a href="/getting-started">Consumer API</a> documentation. For those of you who wish to publish data, however, venture bravely onwards!</p>

<h2>Authentication, Application Tokens, and Throttling</h2>

<p>If you wish to publish data using the Socrata Open Data API, you will need to use one of the SODA API's two authentication methods.</p>

<p>The API is built to authenticate primarily with <a href="http://oauth.net/2/">OAuth 2</a>. We support only the server-based flow with a callback url for security reasons. Please see the <a href="/authentication">API Authentication and Application Tokens</a> section for further details on authenticating using OAuth 2.</p>

<p>If you're only writing a quick application to authenticate as yourself, or you are unable for some other reason to use OAuth 2, the SODA API provides a simpler authentication method using <a href="http://en.wikipedia.org/wiki/Basic_access_authentication">HTTP Basic</a> authentication. Simply use the email address and password you registered with Socrata. When making authenticated requests, please remember to <em>always</em> use HTTPS connections, and to supply an application token.</p>

<ul class="more-info">
  <li>For more information, see the <a href="/authentication">API Authentication and Application Tokens</a> section.</li>
</ul>

<h2>Getting Data in through the Socrata Open Data API</h2>

<p>There are two primary interfaces for publishing your data through the API: for new data for which there is already a source data file, the Import API will allow you to upload, transform, and describe your data however you wish so that it looks the way you desire. For data that needs frequent updating, the SODA API includes a RESTful API for interacting with datasets that are already on the platform.</p>

<ul class="more-info">
  <li>For more information on the Imports API, see the <a href="/publisher/importing">importing</a> section.</li>
  <li>For more information on interacting with datasets, see the <a href="/publisher/updating-records">updating records</a> section.</li>
</ul>

<h2>The RESTful Data Model</h2>

<p>Wherever possible, the Socrata Open Data API strives to be as <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST</a>ful as possible. Resources are represented in a hierarchical manner, and the service uses the standard HTTP <code>GET</code>, <code>POST</code>, <code>PUT</code>, and <code>DELETE</code> methods to manipulate those resources. We also use JSON, XML, and RDF to represent resources. For example:</p>

<ul>
  <li>Datasets and filtered views are represented using the top level <code>/api/views</code> resource. To retrieve a list of views in JSON format, use a <code>GET</code> request on the <code>/api/views.json</code> resource in order to get a list of the views that are available: <%= get("http://opendata.socrata.com/api/views.json?limit=5") %></li>
  <li>To get information about a particular view, add its resource ID to the <code>/api/views</code> resource. IDs in SODA are 8 alphanumeric characters, separated by a dash in the middle, in a "4-4" format: <%= get("http://opendata.socrata.com/api/views/n5m4-mism.json") %></li>
  <li>If you want to then retrieve rows on a particular view, you'd tack on the <code>rows</code> resource to its view resource: <%= get("http://opendata.socrata.com/api/views/n5m4-mism/rows.json?max_rows=5") %></li>
  <li>You can even directly reference an individual row on a dataset by identifying it by row ID: <%= get("http://opendata.socrata.com/api/views/n5m4-mism/rows/418.json") %></li>
</ul>

<p>You can traverse the hierarchy for most resources in this manner to directly access their children.</p>

<ul class="more-info">
  <li>For more information on accessing datasets and view metadata, see <a href="/accessing-view-metadata">Accessing View Metadata</a>.</li>
  <li>For more information on accessing and filtering for rows, see <a href="/retrieving-row-data">Retrieving Row Data</a></li>
</ul>

<h2>Available Data Formats</h2>

<p>The Socrata Open Data API supports a number of different formats, including <a href="http://www.json.org/">JSON</a>, <a href="http://en.wikipedia.org/wiki/XML">XML</a>, and <a href="http://www.w3.org/RDF/">RDF</a>. To change the output format of a request, simply change the extension you use on the resource you are trying to receive:</p>

<ul>
  <li><code>.json</code>, for JSON formatting. Works on all resource types: <%= get("http://opendata.socrata.com/api/views/n5m4-mism.json") %>.</li>
  <li><code>.xml</code>, for XML formatting. Works on all resource types: <%= get("http://opendata.socrata.com/api/views/n5m4-mism.xml") %>.</li>
  <li><code>.rdf</code>, for RDF formatting. Works on most resource types: <%= get("http://opendata.socrata.com/api/views/n5m4-mism.rdf") %>.</li>
  <li><code>.xls</code> and <code>.xlsx</code>, for Excel XLS output. Works only on row data: <a href="http://opendata.socrata.com/api/views/n5m4-mism/rows.xls">http://opendata.socrata.com/api/views/n5m4-mism/rows.xls</a></li>
  <li><code>.csv</code> and <code>.txt</code>, for Comma Separated Value and text output types. Works only on row data: <a href="http://opendata.socrata.com/api/views/n5m4-mism/rows.csv">http://opendata.socrata.com/api/views/n5m4-mism/rows.csv</a></li>
  <li><code>.pdf</code>, for a printable Adobe PDF version of a dataset. Works only on row data: <a href="http://opendata.socrata.com/api/views/n5m4-mism/rows.pdf">http://opendata.socrata.com/api/views/n5m4-mism/rows.pdf</a></li>
</ul>

<p>Most of the API examples use the JSON format, as it is the most compact and efficient format we provide.</p>

<%#
<ul class="more-info">
  <li>For more information on the output formats we provide, see <a href="/advanced-data-formats">Advanced Data Formats</a></li>
</ul>
%>

