<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>

    <meta name="robots" content="noodp, noydir" />
    <meta name="description" content="<%= @context[:description] || "The Socrata Open Data API allows software developers and mashup creators easy access to data in Socrata-powered data sites" %>" />

    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen, projection" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/tomorrow.css" type="text/css" media="screen" />

    <link rel="alternate" type="application/rss+xml" title="SODA Developer Blog RSS Feed" href="http://feeds.feedburner.com/socrata-soda" />

    <script src="/js/jquery-1.4.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body class="custom <%= @path.gsub(/\//, '_') %>">
    <div id="hd" class="clearfix">
      <h1 class="logo"><a href="/"></a></h1>
      <ul>
        <li id="linkcat-7" class="widget widget_links">
          <h3>Header Links</h3>
          <ul class='xoxo blogroll'>
            <li><a href="http://www.socrata.com">What is Socrata?</a></li>
            <li><a href="http://opendata.socrata.com">opendata.socrata.com</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="container">
      <div id="page">
        <ul class="menu">
          <li class="tab"><a href="/" title="Home">Home</a></li>
          <li class="tab">
            <a href="/consumers/getting-started" title="Data Consumers">Data Consumers</a>
            <ul class="submenu">
              <li><a href="/consumers/getting-started">Getting Started</a></li>
              <li><a href="/authentication">Authentication and Application Tokens</a></li>
              <li><a href="/accessing-view-metadata">Accessing View Metadata</a></li>
              <li><a href="/retrieving-row-data">Retrieving Row Data</a></li>
              <li><a href="/querying-datasets">Querying Datasets</a></li>
              <li><a href="/long-running-requests">Long-running Requests</a></li>
            </ul>
          </li>
          <li class="tab">
            <a href="/publisher/getting-started" title="Data Publishers">Data Publishers</a>
            <ul class="submenu">
              <li><a href="/publisher/getting-started">Getting Started</a></li>
              <li><a href="/authentication">Authentication and Application Tokens</a></li>
              <li><a href="/publisher/importing">Importing Data Files</a></li>
              <li><a href="/publisher/workflow">The Publishing Workflow</a></li>
              <%#<li><a href="/publisher/bulk-updating">Bulk Append and Replace</a></li>%>
              <%#<li><a href="/publisher/updating-records">Adding and Modifying Records</a></li>%>
              <%#<li><a href="/publisher/updating-metadata">Updating Dataset Metadata</a></li>%>
            </ul>
          </li>
          <li class="tab">
            <a href="http://opendata.socrata.com/api/docs/">API Reference</a>
            <ul class="submenu">
              <li><a href="<%= docs("users") %>">Users</a></li>
              <li><a href="<%= docs("views") %>">Views</a></li>
              <li><a href="<%= docs("types") %>">Types</a></li>
              <li><a href="<%= docs("errors") %>">Errors</a></li>
            </ul>
          </li>
          <li class="tab"><a href="/blog/" title="Developer Blog">Developer Blog</a></li>
          <li class="tab"><a href="/forums/" title="Socrata Community" target="_blank">Discussion</a></li>
        </ul>

        <div id="header">
        </div>

        <div id="content_box" class="no_sidebars">
          <div id="content">
            <%# Content goes here! %>
            <div class="post_box top">
              <div class="format_text">
                <%= partial "visor" %>

                <%= yield %>
              </div>
            </div>

            <%# Show comments everywhere but on the homepage %>
            <% if @path.match(/^(home|index)$/).nil? %>
              <div id="comments">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                  <%# Use the path as our unique post slug %>
                  var disqus_identifier = "<%= @path.gsub(/\//, '_') %>";
                  <%# Run in developer mode when we're not in production %>
                  var disqus_developer = <%= ENV['RACK_ENV'] == "production" ? 0 : 1 %>;
                  (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://dev-socrata-com.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=dev-socrata-com">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
              </div>
            <% end %>
          </div>
        </div>

        <div id="footer">
          <ul class="clearfix">
            <li id="text-4" class="widget widget_text">
              <div class="textwidget">
                <ul>
                  <li class="poweredBy"><a href="http://www.socrata.com"></a></li>
                  <li class="copyright">
                    <p>This work by <a href="http://www.socrata.com">Socrata</a> is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 United States License</a>.</p>
                  </li>
                  <li class="twitter"><a href="http://twitter.com/socrata_dot_com" target="_blank"></a></li>
                  <li class="facebook"><a href="http://www.facebook.com/socrata" target="_blank"></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div id="powered-by">
          <p>powered by <a href="http://cloudhead.io/toto">toto</a></p>
      </div>
    </div>
    <!--[if lte IE 8]>
      <div id="ie_clear"></div>
    <![endif]-->

    <script src="/js/google-code-prettify/prettify.js"></script>
    <script src="/js/jquery.console-client.js" type="text/javascript"></script>
    <script src="/js/dev.socrata.com.js" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9046230-3']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>

     <!-- Zendesk -->
     <script type="text/javascript" src="//asset0.zendesk.com/external/zenbox/v2.1/zenbox.js"></script>
     <style type="text/css" media="screen, projection">
       @import url(//asset0.zendesk.com/external/zenbox/v2.1/zenbox.css);
     </style>
     <script type="text/javascript">
       if (typeof(Zenbox) !== "undefined") {
         Zenbox.init({
           dropboxID:   "15859",
           url:         "https://socrata.zendesk.com",
           tabID:       "support",
           tabColor:    "#333333",
           tabPosition: "Right"
         });
       }
     </script>
  </body>
</html>
